<%- include('./template/header') %>
<body>
  <%- include('./template/navbar') %>
  <div class="container-wrapper">
    <div class="container">
      <% for (result of results){ %>
        <div class="admin-posts">
          <div class="admin-post">
            <div class="admin-post__title"><%= result.dataValues.title %></div>
            <div class="admin-post__info">
              <div class="admin-post__created-at"><%= result.dataValues.create_at %></div>
            </div>
          </div>
        </div>
      <% } %>  
    </div>
  </div>
</div>
<%- include('./template/footer') %>
