<%- include('./template/header') %>
<body>
  <%- include('./template/navbar') %>
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="/handle-edit/<%= results.dataValues.id %>" method="POST">
          <div class="edit-post__title">
            發表文章：
          </div>
          <div class="edit-post__input-wrapper">
            <input name='title'class="edit-post__input" value="<%= results.dataValues.title %>">
          </div>
          <div class="edit-post__input-wrapper">
            <textarea name='content' rows="20" class="edit-post__content"><%= results.dataValues.content %></textarea>
          </div>
          <div class="edit-post__btn-wrapper">
            <input class="edit-post__btn" type="submit" value='送出'>
          </div> 
        </form>
      </div>
    </div>
  </div>
<%- include('./template/footer') %>
